<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Job search</title>
   {{!-- <link rel="stylesheet" href="css/bootstrap.css"> --}}
   <link rel="stylesheet" href="css/style.css">
   <link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
   <script defer src="js/jquery.js"></script>
   <script defer src="js/axios.js"></script>
   <script defer src="js/typed.js"></script>
   <script defer src="js/main.js"></script>
</head>

<body>
   <div class="navbar">
      <div class="title">
         <p> <a href="/"> Job Search </a></p>
      </div>
      <div>
         <ul>
            <li><a href="/">Home </a></li>
            <li><a href="/search">Jobs </a></li>
            <li><a href="/about" class="active">About Us </a></li>
            <li><a href="/contact">Contact Us </a></li>
         </ul>
      </div>
   </div>

   <div id="img" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
      <div class="row-img">
         <div class="column-img">
            <h2>Anish</h2>
            <h4 class="title-img">Web developer</h4>
            <p>Looking for a challenging role in a reputable organization to utilize my technical and management skills for the growth of the organization as well as to enhance my knowledge about new and emerging trends.</p>
         </div>
      </div>
   </div>

   <footer>
      <div class="social-media">
         FOllOW US ON: <br><br>
         <div class="media">
            <a href="https://www.instagram.com/thi_dark_sun/"><i class="fab fa-instagram fa-3x"></i></a> &nbsp;
            <a href="https://www.github.com/Anish-Anish"><i class="fab fa-github fa-3x"></i></a>&nbsp;
         </div>
      </div>
   </footer>
   
</body>

</html>